h1 {
}

padding: {
}

input {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}